<%- include('includes/head') %>


<body>
    <section class="container">
        <h1> Lorem normal </h1>

        <form action="/" method="POST">
            
            <label for="">Cliente</label>
            <input type="text" name="cliente">
            <button>Enviar</button>
        </form>
    </section>
    <script src="assets/js/bundle.js"></script>
</body>


 
<%- include('includes/footer') %>